---
import { Icon } from "astro-icon/components";
---

<button
  aria-label="theme-button"
  id="theme-button"
  class="rounded-lg p-4 ml-2 bg-accent"
>
  <Icon class="size-4 dark:hidden" name="theme/moon" />
  <Icon class="size-4 hidden dark:block" name="theme/sun" />
</button>

<script>
  import { getThemePreference } from "@/lib/theme";

  const themeButton = document.getElementById("theme-button")!;

  const theme = getThemePreference();
  const isDark = theme === "dark";

  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  const handleSwitcherclick = () => {
    const theme = getThemePreference();
    const shouldSwitchToDark = theme !== "dark";

    document.documentElement.classList[shouldSwitchToDark ? "add" : "remove"](
      "dark",
    );
  };

  themeButton.addEventListener("click", handleSwitcherclick);

  if (localStorage) {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
