---
import { format } from "date-fns";
import type { Post as PostSchema } from "@/lib/schemas/post.schema";

interface Props extends PostSchema {
  slug: string;
}

const { title, image, slug, date } = Astro.props;
---

<article
  class="isolate overflow-hidden relative flex justify-end flex-col rounded-2xl text-muted-foreground px-8 pt-80 pb-8"
>
  <img
    class="absolute w-full h-full object-cover -z-10 inset-0 align-middle rounded-2xl"
    src={image}
    alt=`blog-post-${slug}`
  />
  <div
    class="absolute w-full h-full -z-10 inset-0 dark:bg-gradient-to-t dark:from-black dark:to-transparent"
  >
  </div>
  <div class="absolute w-full h-full -z-10 inset-0 rounded-2xl"></div>
  <div class="text-sm leading-6">
    <time>{format(date, "MMM do, yyyy")}</time>
  </div>
  <a href={`posts/${slug}`}>
    <span class="inset-0 absolute w-full h-full"></span>
    <span class="text-primary-foreground">{title}</span>
  </a>
</article>
